.formCursos {
    margin-top: 1rem;
    width: 28rem;
    height: 84dvh;
    padding: 2rem;
    flex-direction: column;
}
.nomeForm{
    width: 100%;
    height: 6%;
    font-size: 1.5rem;
    margin-bottom: 1rem;

}
input{
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid darkgray;
    padding: 0.5rem;
}
.tituloInput{
    color: gray;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img {
    border-radius: 10px;
    padding: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    cursor: pointer;
    background-color: #F0F0F0;

}

.logo {
    height: 8.5rem;
    width: 10rem;
}

.espacoInput {
    display: flex;
    align-items: top;
    justify-content: left;
    flex-direction: row;
}
.primeiro {
    width: 100%;
    height: 15%;
}

.segundo {
    width: 100%;
    height: 15%;
}

.terceiro {
    width: 100%;
    height: 20%;
}

.quarto {
    width: 100%;
    height: 15%;
}

.quinto {
    width: 100%;
    height: 10%;
}

.sexto {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes{
    padding-top:1rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.botoes{
    padding-top:1rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.button{
    height: 1.8rem;
    width: 8rem;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    cursor:pointer;
    color: white;
    transition: 0.1s ease-in-out;
    &.recusar{
        background-color: #FF4A4A;
    }
    &.confirmar{
        background-color: #222222;
    }
}
